.block {
    display: grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,100px);
    width: 800px;
    height: 800px;
    border: 5px solid black;
}

.block .brown-square {
    width: 100px;
    height: 100px;
    background-color: #be7e40;
}

.block .white-square {
    width: 100px;
    height: 100px;
    background-color: white;
}